* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(images/donation13.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-bakso {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-bakso h1 {
    font-family: 'Inter', sans-serif;
    font-size: 65px;

}

.text-bakso p {
    margin-bottom: 30px;
    color: #FFFFFF;
    text-align: center;
}


.link-button {
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

/*----- Donate Today -----*/

.donate-today {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.other-amount {
    margin: 5%;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700px;
    font-size: 45px;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    padding: 30px;
    color: #707070;
}

.amount {
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;


}

.money-color {
    box-sizing: border-box;
    width: 136px;
    height: 123px;
    left: 495px;
    top: 979px;
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
}

.money {
    width: 135px;
    height: 123px;
    left: 338px;
    top: 979px;
    background: #f4f2f2;
    border-radius: 5px;

}

h2 {
    text-align: center;
    margin: 50px 0;

}

.extra-taka {

    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    border-bottom: 1px solid #DADADA;
    margin-bottom: 5%;
}


/*----- Donate Plan -----*/


.donate-plan {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;

}

.plan-3 {
    width: 360px;
    height: 370px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
}

.plan-3 h2 {
    text-align: left;
    margin-bottom: -20px;
    padding-left: 25px;

}

.plan-1 {
    width: 360px;
    height: 370px;
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}

.plan-1 h2 {
    text-align: left;
    margin-bottom: -20px;
    padding-left: 25px;
}

.plan-2 {
    width: 360px;
    height: 370px;
    background: #fcfcd2;
    border-radius: 5px;
}

.plan-2 h2 {
    text-align: left;
    margin-bottom: -20px;
    padding-left: 25px;
}

.img-edit img {
    margin-top: 25px;
    padding-left: 20px;
    margin-bottom: 0%;
}

.box {
    display: flex;
    margin-top: 8%;

}

.box-1 {
    width: 50%;
    padding-left: 10%;

}

.box-1 p {
    width: 482px;
    height: 250px;
    left: 56px;
    top: 58px;
    padding-left: 0%;
}

.box-1 img {
    width: 80%;
    height: 400px;
}

.boox {
    margin-top: 8%;
    display: flex;
    text-align: left;
}

.bakso-1 img {
    height: 400px;
    width: 500px;
    padding-left: 20%;
}

.bakso-1 p {
    padding-left: 0%;
    height: 250px;
    width: 482px;

}

.bakso-1 {
    width: 50%;
}

.em {
    display: flex;
    position: absolute;
    width: 809px;
    height: 200px;
    left: 316px;
    top: 3442px;
    background: #FFF4D6;
    margin-top: 7%;
    box-sizing: border-box;


}

.email-1 {

    width: 275px;
    height: 48px;
    left: 05px;
    top: 18px;

    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
}

.email {
    position: absolute;
    width: 157px;
    height: 48px;
    left: 780px;
    top: 3518px;
}

.button {
    border: none;
    color: rgb(255, 255, 255);
    padding: 20px 50px;
    text-align: left;


    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
}

.button1 {

    width: 275px;
    height: 48px;
    left: 505px;
    top: 3518px;

    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;

}

.button2 {

    width: 157px;
    height: 48px;
    left: 780px;
    top: 3518px;

    background: #FF5959;
    border-radius: 0px 5px 5px 0px;
}

.emmu {
    padding-left: 160px;
    padding-top: 80px;
}

footer {

    margin-top: 350px;
    text-align: center;
    margin-bottom: 0px;
    background: #0B0D17;
}

.red-color {
    color: #FF5959;
    font-size: larger;
    font-style: normal;
}